PORT=3333

# PostgreSQL Connection
DATABASE_USER=user
DATABASE_PASSWORD=password1234
DATABASE_DB=randomdb
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}?schema=public
