PORT=3333

# PostgreSQL Connection
DATABASE_USER=user
DATABASE_PASSWORD=password1234
DATABASE_DB=randomdb
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}?schema=public

# Inference Server
MODEL_BASE_URL=https://api.deepinfra.com/v1/openai
MODEL_API_KEY=your-api-key
CHAT_MODEL_ID=deepseek-ai/DeepSeek-V4-Flash-0731
EMBEDDING_MODEL_ID=google/embeddinggemma-300m
